body{
    font-family: 'Nunito', sans-serif;
    transition: 0.3s;
}
:root{
    --orange-color:#ffa500;

}
.main-btn{
    color: white;
    background: var(--orange-color);
    padding: 10px 25px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid var(--orange-color);
    width: fit-content;

}
.main-btn:hover{
    background-color: transparent;
    color: var(--orange-color);
}
h2{
    padding: 60px 0 30px;
    text-align: center;
}
h2 span {
    padding: .2rem 1rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange-color);
    display: inline-block;
    border-radius: 6px;
    font-size: 40px;
}
@media (max-width:450px) {
    h2 span{
        font-size: 25px;
        padding: 10px;
        
    }
}
h2 .space {
    width: 0;
    background-color: transparent;
}
/* start botton top  */
.top{
    font-size: 50px;
    top: 686px;
    color: var(--orange-color);
    background: rgba(255, 165, 0, .2);
    transition: 0.3s;
    right: -70px;
    padding: 0 0px;
    width: 50px;
    height: 50px;
    border-radius: 20%;
}
span .svg-inline--fa{
    color: var(--orange-color);
    position: absolute;
    right: 7px;
}
/* end botton top */
/* start navbar */
.navbar{
    background-color: #333;
    color: white;
}
@media (max-width:450px) {
    .navbar .icon{
        display: none;
    }
}
.navbar span::first-letter{
    color: var(--orange-color);
}
.navbar .container .navbar-nav li a{
    color: white;
    font-size: 20px;
    justify-content: space-between;
}
.navbar .container .navbar-nav li a:focus{
    color: white;
}
.navbar .container .navbar-nav li a:hover{
    color: var(--orange-color);
}
.navbar .container .navbar-nav li .active{
    color: var(--orange-color);
}
.navbar-toggler{
    background-color: var(--orange-color);
}
.search{
    background: #333;
    border-top: 2px solid #ffffff70;
    position: relative;
    top: -100px;
    z-index: -1;
    transition: 0.3s;
}

.search input{
    width: 92%;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
.svg-inline--fa{
    color: white;
}
/* end navbar */
/* start landing */
.landing{
    height: calc(100vh - 78px);
    position: relative;
}
.landing .text-landing{
    z-index: 3;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.landing .text-landing h1{
    color: white;
}
.landing .text-landing p{
    color: white;
}
.landing video{
    object-fit: cover;
    z-index: -2;
}
.landing video {
    z-index: -1;
}
.bullets{
    width: 240px;
    height: 50px;
    background-color: #333333d1;
    left: 50%;
    top: 65%;
    transform: translate(-50% , -50%);
    display: flex;
    align-items: center;
}
.bullets li{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
.landing .bullets .active1{
    background-color: var(--orange-color);
}
/* end landing */
/* start book */
.book{
    text-transform: capitalize;
}
.book form{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000042;
    border-radius: 4px;
}
.book form div input{
    width: 100%;
    padding: 10px;
    border: 1px solid #0000002e;
}
.book form div input:focus{
    outline: none;
}
.book form div h4{
    font-size: 25px;
}
.btn-book{
    width: fit-content;
}
/* end book */
/* pacekges */
.packages .card img {
    height: 236px;
}
.packages .card-body .svg-inline--fa{
    color: var(--orange-color);
}
.packages .card-body p{
    color: #666;
}
/* end packges */
/* start services */
.services .svg-inline--fa{
    color: var(--orange-color);
    font-size: 50px;
    margin-top: 10px;
}
.box-serv{
    margin-bottom: 10px;
    transition: 0.3s;
    padding: 15px;
}
.box-serv:hover{
    box-shadow: 0 0 18px 0 #0000003b;
    border-radius: 6px;
}
/* end services */
/* start gallery */
.gallery .box-photo{
    overflow: hidden;
    margin-bottom: 25px;
    border: 10px solid #00000005;
    border-radius: 6px;
    box-shadow: 0 0 8px 0 #00000045;
}
.gallery img{
    height: 264px;
    width: 100%;
}
.gallery .text-photo{
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000007d;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}
.gallery .box-photo:hover .text-photo{
    top: 50%;
}
.gallery .text-photo h4{
    color: var(--orange-color);
    font-size: 30px;
    text-align: center;
}
.gallery .text-photo p{
    color: white;
    text-align: center;
}
/* end gallery */
/* start review */
.swiper{

}
.swiper-slide{
    text-align: center;
    padding: 15px;
}
.swiper img{
    width: 150px;
    margin-bottom: 10px;
    padding-top: 10px;
}
.box-review{
    box-shadow: 0 0 18px 0 #00000069;
}
.swiper .rate .svg-inline--fa{
    color: var(--orange-color);
}
/* end review */
/* start  contact */
.contact img{
    height: 400px;
}
.contact form{
    box-shadow: 0 0 19px 0 #0000003d;
    padding: 30px;
}

.contact form input{
    width: 49%;
    padding: 10px;
    background: #f7f7f7;
    border: none;
    margin-bottom: 10px;
}
.contact form input:focus{
    outline: none;
}
.contact textarea{
    height: 183px;
    width: 99%;
    border: none;
    background: #f7f7f7;
    resize: none;
}
textarea:focus{
    outline: none;
}
/* end contact */
/* start brand */
.brand{
    height: 150px;
}
.brand img{
    width: 200px;
}
/* end brand */
/* start footer */
footer{
    background-color: #333;
    color: white;
}
footer ul li{
    margin-bottom: 10px;
}
footer .container .row{
    border-bottom: 1px solid white;
}
/* end footer */